*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: beige;
}
.maincontent{

    height: 190vh;
    width: 70vw;
    margin-left: 15vw;
    background-color: aliceblue;
    display: flex;
}

.leftside{

height: 100%;
width: 34%;
background-color: #163853
;
display: flex;
flex-direction: column;
align-items: end;
overflow: auto;
}

.rightside{
    height: 100%;
    width: 66%;
display: flex;
flex-direction: column;
/* justify-content: end; */
align-items: end;
    /* background-color:; */
    border: 2px solid black;
overflow: auto;
}

.photo{
    margin-right: 10%;
}
.linediv{
    width: 80%;
    border: 1px solid white
}
.photo img{
    border-radius: 50%;
margin-right: 10%;
margin-top:10%;
width: 100%;
border: 2px solid #FFFFFF;
transition: all 1s ease-in;
}
.photo img:hover{
    transform: scale(1.3);
}
p{
    color: white;
    font-size: 2rem;
    font-weight: 900;
}

.takingleft{
    display: flex;
    justify-content: start;
    width: 80%;
    color: white;
}
.takingleft1{
    display: flex;
    justify-content: start;
    width: 90%;
    /* color: white; */
}
li{
    list-style-type: circle;
}
.outer{
    width: 80%;
    height: 3vh;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: start;
    border-radius: 3vw;
}
.inner{
    height: 100%;
    width: 10%;
    border-radius: 3vw;
    background-color: purple;
    z-index: 5;
    color: none;
    /* transform: all 1s easein */
    transition: all 1s ease-out;
}
.inner1{
    height: 100%;
    width: 10%;
    border-radius: 3vw;
    background-color: purple;
    z-index: 5;
    color: none;
    /* transform: all 1s easein */
    transition: all 1s ease-in;
}
.inner1:hover{
    width: 50%;
        background-color: black;
    color: white;
    text-align: center;
    }

.inner:hover{
width: 80%;
    background-color: black;
color: white;
text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
#what{
    width: 70%;
    height: 10px;
}

.rightside .Name{
    font-size: 3.5rem;
}
.rightside .subtitle{
    font-size: 2rem;
}
.rightside .takingleft1 p{
    color: black;
}

.linediv1{
    width: 90%;
    border: 1px solid grey
}